## Python
### 1. Variables in python

In [2]:
# variable rules
x =10
y =100.0

### 2. Conditional statement

### 3. Loop statements

#### 3.2 While loop

In [3]:
# While loop with else
x=10
while x<10:
    print("hello")
else:
    print("condition not satisfied")

condition not satisfied

### 4. Defining function

In [4]:
# Write a code to generate fibonacci series till 10th term
def fibonacci(n):
    x1=0
    x2=1
    fibo = [x1, x2]
    for i in range(n-2):
        x3=x1+x2
        x1=x2
        x2=x3
        fibo.append(x3)
    return fibo

In [5]:
x = fibonacci(10)
print(x)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [6]:
# Basic structure of a function

def hello(name):
    print("Hi Good morning mr/miss ", name)

In [7]:
hello("Bhawani")

Hi Good morning mr/miss  Bhawani

In [8]:
fibonacci(30)

[0,
 1,
 1,
 2,
 3,
 5,
 8,
 13,
 21,
 34,
 55,
 89,
 144,
 233,
 377,
 610,
 987,
 1597,
 2584,
 4181,
 6765,
 10946,
 17711,
 28657,
 46368,
 75025,
 121393,
 196418,
 317811,
 514229]

In [9]:
# create a function to generate factorial of n
def factorial(k):
    result = 1
    while k!=1:
        result = result*k
        k=k-1
    return result

In [10]:
factorial(4)

24

In [11]:
x=15

### Lambda function

In [12]:
y = lambda x,z:(x-1)*z

In [13]:
y(2,3)

3

In [14]:
# list, tuple, set, dictionary
list1 = [1,1,2,3,"hello", "hi", "bye"]
tuple1 = (1,1,2,3,"hello", "hi", "bye")
set1 = {1,1,2,3,"hello", "hi", "bye"}
dict1 = {"a":1,"b":1,"c":2,"d":3,"e":"hello","f":"hi","g": "bye"}

In [15]:
list1[1]=4
print(list1)

[1, 4, 2, 3, 'hello', 'hi', 'bye']

In [16]:
print(tuple1)

(1, 1, 2, 3, 'hello', 'hi', 'bye')

In [17]:
print(set1)

{1, 2, 3, 'hi', 'bye', 'hello'}

In [18]:
dict1["f"]

'hi'

#### List, Dictionary, Tuples and Set

In [19]:
student_details_list = ["Bhawani", "CSE", "19"]
student_details_dict = {"name":"Bhawani", "branch":"CSE", "roll no": 19}

In [20]:
student_details_dict["roll no"]

19

In [21]:
student_details_tuple = ("Bhawani", "CSE", "19", "19")
student_details_set = {"Bhawani", "CSE", "19", "19"}

In [22]:
student_details_tuple[2]

'19'

#### List and string slicing

In [23]:
student_details_list = ["Bhawani", "CSE", "19", "vaigai", "22"]

In [24]:
student_details_list[1:3]

['CSE', '19']

In [30]:
# String
dob = input("please type your DOB in ddmmyyyy format")
yob = dob[4:8]
yob_int = int(yob)
type(yob_int)
age = 2023 -yob_int
print(age)

In [38]:
days = 10005
age_in_year = days//365
print(age_in_year)

27

#### Type casting

In [ ]:
yob_int = int(yob)
type(yob_int)
age = 2023 -yob_int
print(age)

In [39]:
# Define a function that will take user input and calculate age. 
def calculate_age():
    # take user input  in ddmmyyyy format
    dob = input("Please type your age in ddmmyyyyy format:")
    # Extract year of birth using slicing technique
    yob = dob[4:8]
    # Type cast the year of birth to integer
    yob = int(yob)
    # Calculate age
    age = 2023-yob
    # print age
    print(age)

calculate_age()

27

In [40]:
# Define a function that will take user input and advanec calculate age. 
def calculate_advance_age():
    # take user input  in ddmmyyyy format
    dob = input("Please type your age in ddmmyyyyy format:")

    # Extract year of birth using slicing technique
    yob = dob[4:8]
    mob = dob[2:4]
    day_b =dob[0:2]

    # Type cast the year of birth to integer
    yob = int(yob)
    mob = int(mob)
    day_b = int(day_b)

    # Convert to days
    birth_days = 365*yob +30*mob+day_b
    current_days = 365*2023 +30*10+28

    # Calculate age in days
    age_days = current_days - birth_days

    # convert to age in year
    age_year = age_days//365
    reminder_days = age_days%365
    age_month = reminder_days//30
    age_day = reminder_days%30
    
    print(f"The age is {age_year} year,{age_month} month, {age_day} days")

calculate_advance_age()

The age is 27 year,9 month, 10 days

In [ ]:
# Define a function that will take user input and calculate age with month and day also.

#### String formatting

In [7]:
names=["bhawani", "Sibani", "raju"]
roll_nos = [12, 45, 75]
percentages = [88, 95, 25]
for name,roll_no, percentage in zip(names, roll_nos, percentages):
    print(f"This certificate is awarded to {name} with roll number {roll_no} for successfully \n completing the Data analytics course with {percentage}% marks in the offline Data \n analytics course provieded by EY GDS. \n")

This certificate is awarded to bhawani with roll number 12 for successfully
 completing the Data analytics course with 88% marks in the offline Data
 analytics course provieded by EY GDS.

This certificate is awarded to Sibani with roll number 45 for successfully
 completing the Data analytics course with 95% marks in the offline Data
 analytics course provieded by EY GDS.

This certificate is awarded to raju with roll number 75 for successfully
 completing the Data analytics course with 25% marks in the offline Data
 analytics course provieded by EY GDS.

In [10]:
first_name = "Bhawani"
middle_name = "Shankar"
full_name = first_name+" "+middle_name
print(full_name)

Bhawani Shankar

In [11]:
list1 = ["hello", 1, 5, "c"]
list2 = ["hi", 17, 20]
list3 = list1+list2
print(list3)

['hello', 1, 5, 'c', 'hi', 17, 20]

In [ ]:
user = "Bhawani"
gretings = f"good morning {user}"

In [4]:
print("mark is {a} and percentage is {b}".format(a=15, b=67))

mark is 15 and percentage is 67

#### Exception handling

In [34]:
def division(a,b):
    try:
        result = a/b
    except ZeroDivisionError:
         print("Can't devide with zero")
    except:
        print("Not able to devide")
    else:
        print(result)

In [37]:
division(x,y)

Not able to devide

In [36]:
x=10
y="hi"